.btn {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--size-2) var(--size-4);
	min-height: 48px;
	min-width: 48px;
	font-size: var(--font-size-1);
	line-height: var(---font-lineheight-1);
	background-color: var(--surface-2);
	border-radius: var(--radius-2);
	gap: var(--size-2);
	border: 1px solid var(--border);
	color: var(--link);

	svg {
		width: 1em;
		height: 1em;
	}

	&:hover {
		box-shadow: inset 0 0 0 1px var(--link);
		border-color: var(--link);
		color: var(--link);
	}
}
