.btn {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--size-2) var(--size-4);
	min-height: 48px;
	min-width: 48px;
	font-size: var(--font-size-1);
	line-height: var(---font-lineheight-1);
	border-radius: var(--radius-2);
	box-shadow: inset 0 0 0 1px var(--border);
	gap: var(--size-2);
	background-color: var(--background);

	@media (forced-colors: active) {
		border: 2px solid LinkText;
	}

	&:not(.disabled) {
		background-color: var(--surface-2);
		color: var(--link);
		cursor: pointer;

		&:hover {
			box-shadow: inset 0 0 0 2px var(--link);
			color: var(--link);
		}
	}

	&:hover {
		text-decoration: none;
	}

	&.disabled {
		color: var(--text-2);
		cursor: not-allowed;
		opacity: 0.2;
	}

	svg {
		width: 1em;
		height: 1em;
	}
}

:is(.icon-btn) {
	padding: var(--size-2);
}
