.prose {
	:is(h2, h3, h4, h5, h6) {
		margin-top: 1em;
		margin-bottom: 0.5em;
		max-inline-size: initial;
		line-height: var(--font-lineheight-1);
	}

	:is(h2) {
		font-size: var(--font-size-fluid-2);
	}

	:is(h3, h4, h5, h6) {
		font-size: var(--font-size-fluid-1);
	}

	:is(ul) {
		list-style-type: square;
	}

	:is(ul, ol) {
		padding-left: var(--size-8);
		margin-bottom: var(--size-8);
	}

	:is(ul, ol) li {
		margin-block: 1em;
		padding-inline-start: var(--size-3);
		text-wrap: balance;
	}

	:where(li, dd, figcaption) {
		max-inline-size: initial;
	}

	pre {
		max-inline-size: 100%;
		white-space: pre-wrap;
		padding: 1rem;
		font-size: var(--font-size-fluid-8);
		border-radius: var(--radius-3);
		tab-size: 2;
		margin-block: var(--size-8);
	}

	:is(blockquote) {
		max-inline-size: initial;
		border: 1px solid var(--border);
		border-radius: var(--radius-3);
		margin-block: var(--size-8);

		p {
			font-size: var(--font-size-fluid-1);
		}
	}
}
