.tag {
	display: inline-block;
	padding: var(--size-1) var(--size-2);
	font-size: var(--font-size-00);
	font-weight: var(--bold);
	border-radius: var(--radius-2);
	text-decoration: none;
}

.tags {
	display: flex;
	gap: var(--size-2);
}
