@import '@fontsource/lexend';

$surface-1-dark: #080c13;
$surface-1-light: #fdfbf7;

html {
	/* font */
	--font-sans: 'Lexend', sans-serif;
	--font-mono: monospace;

	--size-header-1: initial;
	--size-content-3: initial;

	--font-size-00: 12px;

	--bold: var(--font-weight-8);

	/* dark */
	--accent-dark: var(--cyan-3);
	--brand-dark: var(--orange-3);
	--link-dark: #bba5ff;
	--text-1-dark: var(--gray-1);
	--text-2-dark: var(--gray-3);
	--text-contrast-dark: #{$surface-1-dark};
	--surface-1-dark: #{$surface-1-dark};
	--surface-2-dark: #{lighten($surface-1-dark, 4%)};
	--surface-3-dark: #{lighten($surface-1-dark, 12%)};
	--surface-4-dark: #{lighten($surface-1-dark, 24%)};
	--background-dark: #{$surface-1-dark};
	--border-dark: var(--gray-5);

	/* light */
	--accent-light: var(--jungle-6);
	--brand-light: var(--orange-10);
	--link-light: #4000ff;
	--text-1-light: #{$surface-1-dark};
	--text-2-light: #{lighten($surface-1-dark, 40%)};
	--text-contrast-light: #{$surface-1-light};
	--surface-1-light: #{$surface-1-light};
	--surface-2-light: #{darken($surface-1-light, 4%)};
	--surface-3-light: #{darken($surface-1-light, 12%)};
	--surface-4-light: #{darken($surface-1-light, 24%)};
	--background-light: #{$surface-1-light};
	--border-light: var(--gray-4);
}

@mixin light-theme {
	color-scheme: light;

	--accent: var(--accent-light);
	--brand: var(--brand-light);
	--link: var(--link-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--text-contrast: var(--text-contrast-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
}

@mixin dark-theme {
	color-scheme: dark;

	--accent: var(--accent-dark);
	--brand: var(--brand-dark);
	--link: var(--link-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--text-contrast: var(--text-contrast-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

:root {
	@include dark-theme;
}

@media (prefers-color-scheme: light) {
	:root {
		@include light-theme;
	}
}

[color-scheme='dark'] {
	@include dark-theme;
}

[color-scheme='light'] {
	@include light-theme;
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	/* accent-color: var(--link); */
	background-image: var(--background);
	background-attachment: fixed;
}

img {
	border-radius: var(--radius-3);
}

a {
	color: var(--link);
}

ul,
ol {
	padding-inline-start: var(--size-6);

	li {
		padding-inline-start: var(--size-1);
	}

	&.unstyled {
		padding: 0;
		list-style: none;
	}
}

.capitalize {
	text-transform: capitalize;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}

.accent {
	background-color: var(--accent);
	color: var(--text-contrast);
}

.link {
	background-color: var(--link);
	color: var(--text-contrast);
}

.prose :is(h2, h3, h4, h5, h6) {
	margin-top: var(--size-8);
	margin-bottom: var(--size-3);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: var(--size-7);
}

.prose :is(ul, ol) {
	list-style-type: '🔥';
	padding-left: var(--size-5);
}

.prose :is(ul, ol) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
}

.prose pre {
	max-inline-size: 100%;
	white-space: pre-wrap;
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
	margin-top: var(--size-7);
}

.page-title,
.page-header,
.page-subheader {
	max-inline-size: initial;
}

.page-title {
	font-size: var(--font-size-fluid-2);
}

.page-header {
	font-size: var(--font-size-fluid-2);
}

.page-subheader {
	font-size: var(--font-size-fluid-1);
}

p {
	font-size: var(--font-size-3);
	line-height: 1.75em;
	max-inline-size: initial;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.lucide-icon {
	display: inline-flex;
}

.space-1 {
	margin-bottom: var(--size-2);
}

.space-2 {
	margin-bottom: var(--size-4);
}

.space-3 {
	margin-bottom: var(--size-8);
}

.tag {
	display: inline-block;
	padding: var(--size-1) var(--size-2);
	font-size: var(--font-size-00);
	font-weight: var(--bold);
	border-radius: var(--radius-2);
	// text-transform: uppercase;
}

.pills,
.tags {
	display: flex;
	gap: var(--size-2);
}

.pill {
	padding: var(--size-2) var(--size-3);
	border-radius: var(--radius-round);
	@extend .surface-2;
}

.tint-link {
	color: var(--link);
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}
