@import 'styles/theme';
@import 'styles/typo';
@import 'styles/surface';
@import '@fontsource/lexend';
@import 'styles/normalize';
@import 'styles/btn';
@import 'styles/tag';
@import 'styles/prose';

html {
	color: var(--text-1);
	background-image: var(--background);
}

img {
	border-radius: var(--radius-3);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.lucide-icon {
	display: inline-flex;
}

.space-1 {
	margin-bottom: var(--size-2);
}

.space-2 {
	margin-bottom: var(--size-4);
}

.space-3 {
	margin-bottom: var(--size-8);
}

.tint-link {
	color: var(--link);
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

.box {
	padding: var(--size-6);
	background-color: var(--surface-2);
	border-radius: var(--radius-3);
}
